
  
  .nav {
    text-align: center;
    align-items: center;
    margin-top: 0px;
    padding: 20;
    box-sizing: border-box;
    background-color: #25262a;
    color: #c0c0c0
  }
  
  .nav-list {
    list-style-type: none;
    


  }
  
  .nav-list li {
    display: inline;
    text-align: center;
    margin: 0px 25px 0px 0px;
    background-color: #061b2c; 
    padding: 10px;
  }
  
  .nav-list a {
 
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .nav-list a:hover {
    color: #f0a500; /* Hover color */
    border-bottom: 2px solid #f0a500; /* Add a bottom border on hover */
  }

  @media only screen and (max-width: 420px) {
    .nav-list {
        display: flex;
         /* Center the items horizontally */
        padding: 18px;
        justify-content: center;
    }

    .nav-list li {
        margin: 0 10px;
        background-color: #061b2c; 
        padding: 4px;
        
        
    }

    .nav-list a {
        font-size: 14px;
        text-align: center; /* Decrease font size for smaller screens */
    }
    #circleimg {
      position: relative;
      margin: 12px -4px -7px 9px;
      height: 400px;
  }
}